@import "./node_modules/bulma-helpers/css/bulma-helpers.min.css";

.root {
  max-width: 1200px;
  margin: auto;
}

.task-name {
  &:hover {
    cursor: text;
    background: #efefef;
    border-radius: 4px;
    margin: -5px;
    padding: 5px;
  }
}

.delete-confirmation {
  background: white;
  text-align: center;
  padding: 30px;
  border-radius: 4px;
}