@import "./node_modules/bulma-helpers/css/bulma-helpers.min.css";

.root {
  max-width: 1200px;
  margin: auto;
}

.task-item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 7%;
    width: 86%;
    border-bottom: 1px solid #e8e8e8;
  }
}

.task-item-edit-input:focus {
  border-color: transparent;
  box-shadow: none;
  padding-left: 0;
}

.task-name {
  &:hover {
    cursor: text;
    background: #f3f3f3;
    border-radius: 4px;
    margin: -5px;
    padding: 5px;
  }
}

.delete-item-modal {
  .modal-content {
    max-width: 500px;
  }
}

.delete-item-content {
  background: white;
  padding: 20px;
  border-radius: 4px;
}

.no-vmargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}